<% title 'The Books' %>


<% for book in @books do %>
	<div class="gallery">
	  <div class="desc"><b><%=link_to(book.title,book_path(book)) %></b></div>
	  <%= image_tag(book.image.small_thumb.url, alt: 'Image') if book.image? %>
	  <div class="desc">
	  	<%= truncate book.thoughts, length: 160 %>
        <%= link_to 'read more', book_path(book) %>
         <p style="color:red"><b>Price:<%= number_to_currency book.price, unit: "R$"%></p>
        <div class= "add_cart_btn">
        <%=link_to 'Add to Cart' , :controller => :cart, :action => :add, :id => book%>
        
        </div>
	  </div>
	</div>
<% end %>
<%= will_paginate @books %>

<% if user_signed_in? && current_user.role=='admin' %>
<p>
Admin actions: <%= link_to 'New Book', new_book_path%>
</p>
<% else %>
<% end %>