<% title 'Add Books' %>

<%= form_for(@book) do |form| %>
  <p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :thoughts %><br/>
    <%= form.text_area :thoughts %>
  </p>
  
 <div>
 	<%= form.label :image%>
 	<%= form.file_field :image%>
 </div>

  <%= form.submit %>
<% end %>