<!DOCTYPE html>
<html>
  <head>
     <div class="topnav" id="myTopnav">
        <%=  link_to (image_tag("layouts/images.png", height:50)),"/"%>
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>

        <% if user_signed_in? %>
        <a href="#about" :disable=:true><%=current_user.email %></a>
        <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
        <% else %>
        <%= link_to "Log in",  user_session_path %>
        <%#= link_to "Sign up", user/sign_in %>
        <%end%>
     </div>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      &nbsp;
    </div>
    &nbsp;
    <footer>Copyright &copy; PrAnAv OjHa</footer>
  </body>
</html>
